{% extends "template.html" %}

{% block title %} Pender Designs {% endblock %}

{% block main %}

<!-- Post -->
<section class="post">
	<header class="major">
		<span class="date">April 10, 2022</span>
		<h1> My Story</h1>
		<p>Growing up in Cornwall I was exposed to lots of engineering <br />
		history exploring mine houses, designed for pumping water out <br /> 
		the mines, or the shaking tables and lift motors <br />
		at Geevor Mine.</p>
	</header>
	<div class="image main"><img src="static/images/aboutme0.jpeg" alt="" /></div>
	<p></p>
	<p></p>
</section>

{% endblock %}